<section id="about" class="aboutus">
  <div class="container">
    <div class="about-content">
      <div class="about-img">
        <img src="../../../assets/pexels-picjumbocom-196644.jpeg" alt="main" class="main-img">
        <img src="../../../assets/working-emoji.c5325f52b5be329995a5.png" alt="emoji" class="emoji">
        <span>
          <img src="../../../assets/text2.3d5aa6ba2d0632bb4e0572631c3f9dc2.svg" alt="text">
        </span>
      </div>
      <div class="about-text">
        <h4>About me</h4>
        <h3>I am a Full-Stack Developer <br> based in Mandeville, Jamaica</h3>
        <p>
          As a Junior Full-Stack Developer, I possess an impressive skills in HTML, CSS, JavaScript, Angular, Node.js, and MongoDB. I excel in designing and maintaining responsive websites that offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces through writing clean and optimized code and utilizing cutting-edge development tools and techniques. I am also a team player who thrives in collaborating with cross-functional teams to produce outstanding web applications.
        </p>
      </div>
    </div>
  </div>
</section>
