$font-stack: Poppins, sans-serif;
$background-color: #edecec;
$background-color-2: #fff;
$primary: #2d2e32;
$secondary: #767676;

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: $background-color;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 40rem;
  justify-content: center;
  position: relative;
}

.hero-main {
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;

  h1 {
    color: $primary;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  p {
    color: $secondary;
    font-family: Mulish,sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
  }

  img {
    position: absolute;
    right: 10.5rem;
    top: 6.5rem;
    width: 4rem;
    background-color: transparent;
  }

  span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 0.9rem 0;

    a {
    color: $primary;
    font-size: 2rem;
    }
  }
}

.skills {
    align-items: center;
    bottom: 0;
    color: $secondary;
    display: flex;
    font-size: 1rem;
    left: 0;
    position: absolute;

    .logos {
      position: relative;
      right: 4rem;
    }

  p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: $primary;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 6rem;
    padding-right: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
  }

  li {
    align-items: center;
    background-color: $background-color-2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;
  }

  img {
    height: auto;
    width: 2rem;
    background-color: transparent;
  }
}

img {
  width: 18rem;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

