<app-nav-bar></app-nav-bar>
<section id="home" class="hero">
  <div class="container">
    <div class="content">
      <div class="hero-main">
        <div class="hero-text">
            <h1>Full-Stack Angular <br> Developer</h1>
            <img class="wave" src="../../../assets/waving.1bae5fcfb51082b5c2b4.png" alt="">
            <p>Hi, My name is Daneil Hyman. A passionate Developer <br> based in Mandeville, Jamaica.📍</p>
          <span>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
          </span>
        </div>
        <div class="hero-img">
          <img src="../../../assets/pexels-pixabay-220453.jpeg" alt="">
        </div>
      </div>
      <div class="skills">
        <p>Tech Stack</p>
        <div class="logos">
          <ul>
            <li><img src="../../../assets/html5.svg" alt=""></li>
            <li><img src="../../../assets/css3.svg" alt=""></li>
            <li><img src="../../../assets/javascript.svg" alt=""></li>
            <li><img src="../../../assets/angular.svg" alt=""></li>
            <li><img src="../../../assets/nodejs.svg" alt=""></li>
            <li><img src="../../../assets/mongodb.svg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>
