<div>
  <nav class="navbar">
    <div class="logo">
      <img class="logo-img" src="../../../assets/Color logo - no background.svg" alt="logo">
    </div>
    <div class="links">
      <ul>
        <li>
          <a href="" class="link">Home</a>
        </li>

        <li>
          <a href="" class="link">About</a>
        </li>

        <li>
          <a href="" class="link">Projects</a>
        </li>

        <li>
          <a href="" class="link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
